spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/user_db
  data:
    redis:
      host: localhost
      port: 6379
  kafka:
    bootstrap-servers: localhost:9092
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        show_sql: true

storage:
  minio:
    endpoint: http://localhost:9000
