spring:
  datasource:
    url: jdbc:postgresql://postgresql:5432/user_db
  data:
    redis:
      host: redis
      port: 6379
  kafka:
    bootstrap-servers: kafka:9092
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        show_sql: false

storage:
  minio:
    endpoint: http://minio:9000
